### Basics

$A^2$

In [ ]:
# import a module
import math

In [ ]:
math.sqrt(9)

In [ ]:
# alias 
import math as mt
mt.sqrt(9.0)

In [ ]:
# import some
from math import pi
print(pi)
print(sin(90))
# import all 
from math import *

In [ ]:
from math import *
print(sin(90))

In [ ]:
# see what's available
dir(mt)

In [ ]:
cos(90)

In [ ]:
a = 9/2
print(a, type(a))
b = None
print(b)

In [ ]:
x = '1.3'
y = float(x)
print(y)
z = '1.1d'
print(z)
y = float(z)
print(y)

### Strings

In [ ]:
course = 'Comp2420'
print(len(course))
print(course+'/6420')
print(course * 2)

### Lists

In [ ]:
x = [1,2,'hi',True]
print(x, type(x))

In [ ]:
x[0]

In [ ]:
print(x[:2])

In [ ]:
print(x[2:4])

In [ ]:
print(x[-1])

In [ ]:
y = [8,100]
x.append(y)
print(x)

In [ ]:
x[4][1]

In [ ]:
x = [-1,100, 45, 2, 43]
print(sorted(x))
names = ['Sam', 'Joy', 'Freddie', 'Martin']
print(names)
print(sorted(names, reverse=True))

### You can slice strings too

In [ ]:
course[-1]

In [ ]:
course[1:3]

### Dictionaries

In [ ]:
data = {}

data['k1'] = True
data['x2'] = 2
data[100] = 3.0

In [ ]:
print (data,len(data), type(data))

In [ ]:
data['c'] = [1,2,3,4]
print (data['c'][3])

In [ ]:
data = {}
data['item1'] = 0
if 'item1' in data:
    data['item1'] = data['item1'] + 100
else:
    data['item1'] = 100
print(data['item1'])

In [ ]:
print (data.get('number',0))

### if else

In [ ]:
marks = 67
if marks >= 80:
    print('Higher Distinction')
elif marks >=70:
    print("Distinction")
elif marks >=60:
    print("Credit")
elif marks >= 50:
    print("Pass")
else:
    print("Fail")

#### Combining conditions

In [ ]:
## make sure you use an elemnt not list
courses = ['Comp2420', 'Comp6420']
course = 'Comp2420'
students = ['u123456', 'u234567', 'u5053816']
student = 'u5053816'
if course in courses and student in students:
    print("Valid Combination")
else:
    print("Invalid Combination")

In [ ]:
marks = 3
if marks >= 80:
    print('Higher Distinction')
elif marks >=70:
    print("Distinction")
elif marks >=60:
    print("Credit")
elif marks >= 50:
    print("Pass")
elif marks < 0 or marks >100:
    print("Invalid marks")
else:
    print("Fail")

#### Ternary operation

In [ ]:
x = 10 
print("Pass") if x > 50 else print("Fail")

### for, enumerate, list comperhensions

In [ ]:
numbers=[1,3,5,6]
for i in numbers:
    print(i)

#### Enumerate

In [ ]:
first_names = ['John', 'Marry', 'Martin']
for index,name in enumerate(first_names):
    print(index,name)

#### Zip

In [ ]:
last_names = ['Smith', 'Powell', 'Cummins']
for index,name in enumerate(zip(first_names,last_names)):
    print(index, name)

In [ ]:
last_names = ['Smith', 'Powell', 'Cummins']
for index,name in enumerate(zip(first_names,last_names)):
    print(index, name[0], name[1])

In [ ]:
## works even if they are not equal
x = [1,2,3]
y = [4,5]
a = zip(x,y)
### it returns an iterator so 
#print(list(a))
for num in a:
    print(num)